<!DOCTYPE html>
<html>
  <head>
  </body>
    <% provide(:title, "About") %>
    <h1><%= t(".about_head") %></h1>
    <p>
      <%= t(".about_link_detail_heat") %>
      <%= link_to t(".about_link") %>
      <%= t(".about_link_detail") %>
      <%= t(".about_info") %></em><%= t(".about_info_2") %>
      <%= link_to t(".about_link_book"),t(".about_link_book_detail") %>
      <%= t".about_and" %>
      <%= link_to t(".about_link_railstutorial") %>
      <%= t(".about_link_railstutorial_detail") %>
      <%= t(".about_detail") %>
      <%= link_to t(".about_link_rubyrials"),t(".about_link_rubyrials_detail") %>
      <%= t".about_detail_1" %>
    </p>
  </body>
</html>
