<% provide(:title, "Help") %>
<h1><%= t(".help_head") %></h1>
<p>
<%= t(".help_info_1") %>
   <%= link_to t(".help_link_1"), t(".help_link_info") %>
   <%= t(".help_info_2")%>
   <%= link_to t(".help_link_2") %><em> <%= t(".help_link_info_2") %></em>
   <%= t(".help_info_book") %>
</p>
